
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 404 /RDA/error_pages/404.html
ErrorDocument 403 /RDA/error_pages/404.html
ErrorDocument 503 /RDA/error_pages/503.html


